.modal{ 
 min-height: 100vh;
 min-width: 100%;
 background-color: rgba(0, 0,0,0.4);
 position: fixed;
 top: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 opacity: 0;
 transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.active{ 
 opacity: 1;
}
.modalContent{ 
 padding: 30px;
 border-radius: 15px;
 background-color: white;
 width: 50%;
 & input{ 
  min-width: 50%;
 padding: 5px 15px 5px;
 cursor: pointer;
 text-align: start;
 font-size: 17px;

 background-color: #f2f4f8;
 padding: 10px 20px;
 border-radius: 10px;

  border: 1px solid #454545;
  border-radius: 10;
  font-size: 16;
  font-weight: 300;
  padding: 5;
  &:hover, &:focus {
     border: 1px solid blue;
     outline: 'none';
  }
 }
}