.modal{ 
 min-height: 100vh;
 min-width: 100%;
 background-color: rgba(0, 0,0,0.4);
 position: fixed;
 top: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 opacity: 0;
 transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.active{ 
 opacity: 1;
}
.modalContent{ 
 position: relative;
 padding: 30px;
 border-radius: 15px;
 background-color: white;
 width: 50%;
 & .closeSvg{ 
  position: absolute;
  top: 5px;
  right: 5px;
  width: 1.5em;
  height: 1.5em;
 }
 & input{ 
  min-width: 50%;
 padding: 5px 15px 5px;
 cursor: pointer;
 text-align: start;
 font-size: 17px;

 background-color: #f2f4f8;
 padding: 10px 20px;
 border-radius: 10px;

  border: 1px solid #454545;
  border-radius: 10;
  font-size: 16;
  font-weight: 300;
  padding: 5;
  &:hover, &:focus {
     border: 1px solid blue;
     outline: 'none';
  }
 }
}
.containeSearch{ 
 width: 100%;
 background-color: #f2f4f8;
 border-radius: 5%;
}
.searchLi{ 
 &:hover{ 
  border-radius: 5px;
  border: 1px solid blue;
 }
}
.buttonsContainer{ 
 display: flex;
 width: 100%;
 justify-content: flex-end;
 padding: 10px;
}
.button{ 
 width: 100px;
 padding: 5px;
 background-color: rgb(45, 128, 253);
 border-radius: 5px;
 margin: 10px;
 color: rgba(255, 255, 255, 1);
}
.buttonCancel{ 
 width: 100px;
 padding: 5px;
 border-radius: 5px;
 margin: 10px;
 border: 1 solid rgb(151, 151, 151);
 background-color: rgba(255, 255, 255, 1);
 color: rgb(45, 128, 253);
}